@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color:#6ab04c;
	height: 3.5em;
	color: #FFF;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-family: 'Mochiy Pop One', sans-serif;
	
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 70%;
	height: 100%;
	margin: auto;

}
.container-form{
	display: flex;
	Align-items: center;
	Justify-content: space-between;
}

section{
	margin: 2em 0;
	overflow: hidden;
	
}

section h2{
	font-size: 2em;
	display: block;
	padding-top: .6em;
	margin-bottom: .2em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
	

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
	text-transform: uppercase;
}
#mensagens-erro{
	color: red;
	text-transform: uppercase;
	font-style: italic;
	line-height: 20px;

}

.campo {
	margin: auto;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	outline: none;
}

.campo-medio{
	padding: .7em;

}

.grupo{
	width: 32.9%;
	display:inline-block;
	padding: 10px 5px;
	
		
}

.grupo :nth-child(2){
	border-radius: 8px;
}

#form-adiciona{
	width: 70%;
}
img{
	width: 25%;
	height: 25%;
	align-items: center;
	
}

.nome{
	width: 100%;
	display: block;

}



button{
	padding: .5em 1em;
	border: none;
	font-size: 1.2em;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#6ab04c;
	width: 25%;
    display: block;
    clear: both;
    margin: 15px 0px;
	border-radius: 0 10px;
	transition-duration: 1s;


}

button:hover{
	background-color:#badc58;
	transition-duration: 1s;

}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}


.adicionar-paciente{
    margin-top: 30px;
	
}



