@import url(./reset.css);
@import url(./menu.css);
@import url(./form.css);
@import url(./paciente.css);
@import url(./btn.css);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.container{
	width: 70%;
	height: 100%;
	margin: auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
	
}

section h2{
	font-size: 2em;
	display: block;
	padding-top: .6em;
	margin-bottom: .2em;
}
