.nav{
	background-color:#6ab04c;
	display: flex;
    justify-content:space-between;
    padding: 8px 3%;
	
}
.logo{
    color: #FFF;
    font-size: 2em;
	text-transform: uppercase;
	font-family: 'Mochiy Pop One', sans-serif;
    padding: 5px 0;
}


.filtro{
    display: flex;
    width: 20%;
    
}
.label{
    color: #FFF;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: auto;

}

#filtrar-tabela{
    background: #d1d5db;


}