.nav{
	background-color:#6ab04c;
	display: flex;
    justify-content:space-between;
    padding: 8px 3%;
	
}
.logo{
    color: #FFF;
    font-size: 2em;
	text-transform: uppercase;
	font-family: 'Mochiy Pop One', sans-serif;
    padding: 5px 0;
}
ul{
    margin: auto 0;
}

ul li{
    display: inline-block;
    padding: 5px;
    font-size: 1rem;
    text-transform: uppercase;
}

ul li a{
    text-decoration: none;
    color: #FFF;
}
ul li a:hover{
   
    color: #b2ee98;
    transition: .3s;
}